:root{
    --blanco:#FFFFFF;
    --negro:#000000;
    --gris-oscuro:#2E2E2E;
    --morado:#9B30FF;
    --azul-electrico:#1c2331;
    --naranja-brillante:#FFA07A;
    --blanco-suave: #f2f2f2;
    --azul-claro: #3399ff;
    --verde-claro: #2ecc71;
    --amarillo-brillante : #f5b041;
    --plata: #ecf0f1;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}
*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

h1{font-size: 3.5rem;}
h2{font-size: 2.5rem;}
h3{font-size: 1.8rem;}
a{
    color: var(--blanco);
    text-decoration: none;
}
canvas{
    position: absolute;
}
.boton{

    padding: 1rem 1.5rem;
    width: 100%;
    text-align: center;
}
.header{
    background-color: var(--azul-electrico);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 500;
}
@media (min-width: 992px) {
    .header{
        flex-direction: row;
        padding: 2rem 5rem;
    
    }
}
@media (min-width: 768px) {
}
.header__responsive{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 0;
}
.header__titulo{
    color: var(--blanco-suave);
}
.contenedor__boton{
    display: block;
    font-size: 3rem;
    color: var(--blanco);
    padding: 2rem;
}
.contenedor__boton:hover{
    cursor: pointer;
}
@media (min-width: 992px) {
    .contenedor__boton{
        display: none;
    }
}
.navegacion{
    margin-top: 2rem;
    width: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--azul-electrico);
    z-index: 500;
}
@media (min-width: 992px) {
    .navegacion{
        margin: 0;
        width: auto;
        position: static;
    }
}
.contenedor__boton--cerrar{
    text-align: end;
}
.navegacion__contenedor{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 80%;
    justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width: 992px) {
    .navegacion__contenedor{
        flex-direction: row;
        gap: .5rem;
        font-size: 1.6rem;
        text-transform: inherit;
        font-weight: 400;
    }
}
.navegacion__contenedor a{
    display: inline-block;
    padding: 1rem 1.5rem;
    width: 100%;
    text-align: center;
    text-shadow: .2rem .2rem .4rem var(--gris-oscuro); 
}
@media (min-width: 992px) {
    .navegacion__contenedor a{
        width: max-content;
    }
    .navegacion__contenedor a:hover{
        outline: 1px solid var(--gris-oscuro);
        box-shadow: .2rem .2rem .3rem var(--gris-oscuro);
    }
}
.d-none{
    display: none;
}


/* ------------------------------------ */
.banner{
    background-color: var(--plata);
    color: var(--gris-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media (min-width: 768px) {
    .banner{
        height: 50rem;
    }
}
.banner__contenedor{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .banner__contenedor{
        width: 70%;
        flex-direction: row;
        gap: 0;
    }
}
.banner__titulo{
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 600;
}
@media (min-width: 768px) {
    .banner__titulo{
        font-size: 4.5rem;
    }
}
.banner__imagen{
    max-width: 50rem;
}
.banner__imagen img{
    width: 100%;
}
.frases{
    color: var(--naranja-brillante);
    font-style: normal;
}


/* -------------------------------- */

.informacion{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
    row-gap: 2rem;
}

@media (min-width: 1200px) {
        .informacion{
            row-gap: 0;
            grid-template-columns: 30% 70%;
        }
}
.informacion__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--plata);
}
@media (min-width: 1200px) {
    .informacion__texto{
        margin-right: 2rem;
    }
}
.boton--informacion{
    background-color: var(--naranja-brillante);
    max-width: fit-content;
    color: var(--negro);
    display: block;
}
.boton--informacion:hover{
    background-color: var(--amarillo-brillante);
}
.informacion__targets{
    display: grid;
    gap: 1rem;
}
@media (min-width: 768px) {
    .informacion__targets{
        grid-template-columns: repeat(2, 1fr);
    }  
}
@media (min-width: 992px) {

    .informacion__targets{
        grid-template-columns: repeat(4, 1fr);
    }       
}
.targets{
    background-color: var(--plata);
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    justify-items: center;
    row-gap: 2rem;
}
.targets img{
    max-width: 15rem;
}
.targets p{
    text-align: center;
}


/* --------------------------- */
.evolucion{
    background-color: var(--azul-electrico);
    padding: 2rem;
    
    display: grid;
    align-items: center;
    justify-items: start;
    gap: 2rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .evolucion{
        padding-left: 8rem;
        grid-template-columns: 2fr 1.8fr;
    }
    
}
.evolucion img{
    width: 100%;
}
.evolucion__texto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    order: 2;
}
.evolucion__texto ul{
    position: relative;
    left: 2rem;
}

/* --------------------------- */
.influyentes{
    background-color: var(--plata);
    text-align: center;
    padding: 2rem;
}
.carousel{
    margin-top: 3rem;
}
.glider, .glider-contain{
    margin: 0;
}
.carousel__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.carousel__lista{
    max-width: 100rem;
}
.carousel__anterior, .carousel__siguiente{
    padding: 5rem 2rem;
    height: min-content;
    border: none;
    font-weight: 700;
    font-size: 2rem;
}
.carousel__anterior:hover, .carousel__siguiente:hover{
    color: var(--gris-oscuro);
    cursor: pointer;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 3rem;
    height: .4rem;
    background-color: var(--gris-oscuro);
    opacity: .2;
    border-radius: 0;
}
.carousel__indicadores .glider-dot:hover,
.carousel__indicadores .glider-dot.active{
    opacity: .5;
}

/* -------------------------------------- */
.video{
    padding: 2rem;
    display: flex;
    justify-content: center;
    max-width: 100rem;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
@media (min-width: 768px) {
    .video{
        flex-direction: row;
    }
}
.video iframe{
    max-width: 90%;
    min-height: 30rem;

}
@media (min-width: 768px) {
    .video iframe{
        min-width: 50rem;

    }
}
.video div{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* ---------------------------------------- */
.about{
    padding: 2rem;
    background-color: var(--plata);
    padding-bottom: calc(250px / 2);
}
.about__titulo{
    text-align: center;
    margin-bottom: 4rem;
}
.about__contenedor{
    display: grid;
    gap: 1rem;
}
@media (min-width: 576px) {
    .about__contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .about__contenedor{
        grid-template-columns: repeat(4, 1fr);
    }
}
.about__target{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.about__target img{
    width: 100%;
}
.about__target p{
    padding: 2rem;
}

/* ---------------------------------------- */

.estadistica{
    padding: 1rem;
    height: 50%;
    position: relative;
    height: auto;
    background-color: var(--azul-electrico);
}  
@media (min-width: 576px) {
    .estadistica{
        height: calc(237.39px / 2);
    }
}
.estadistica__contenedor{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--blanco-suave);
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: .2rem .2rem .7rem var(--azul-electrico);
    top: calc( -250px / 2);
    right: 0;
    left: 0;
    position: static;
    flex-direction: column;
}
@media (min-width: 576px) {
    .estadistica__contenedor{
        flex-direction: row;
        position: absolute;
    }   
}
.estadistica__contenedor div{
    position: relative;
    padding: 4rem;
    text-align: center;
}
.estadistica__contenedor div::after{
    content: '';
    background-color: #8b8b8b;
    border-radius: 2rem;
    position: absolute;

    height: .2rem;
    width: 100%;
    bottom: 0;
    left: 0;
}
@media (min-width: 576px) {
    .estadistica__contenedor div::after{
        height: 100%;
        width: .2rem;
        left: auto;
        bottom: auto;
        right: 0;
        top: 0;
    }
}
.estadistica__contenedor div h3{
    font-size: 1.6rem;
    color: var(--naranja-brillante);
    margin-bottom: 1rem;
}
.estadistica__contenedor div p{
    font-size: 3rem;
    font-weight: 700;
    color: var(--azul-electrico);
}





/* ---------------------------------------- */

.footer{
    background-color: var(--azul-electrico);
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
}
.footer__contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.footer__contenedor li{
    position: relative;
    list-style: none;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    cursor: pointer;
    display: flex;
    justify-content: center;align-items: center;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .1);
    transition: 0.5s;
}
.footer__contenedor li:hover{
    width: 18rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0);
}
.footer__contenedor li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 5rem;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}
.footer__contenedor li:hover::before{
    opacity: 1;
}
.footer__contenedor li::after{
    content: '';
    position: absolute;
    top: 1rem;
    width: 100%;
    border-radius: 6rem;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(1.5rem);
}
.footer__contenedor li:hover::after{
    opacity: 0.5;
}
.footer__contenedor li svg{
    color: var(--plata);
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.footer__contenedor li:hover svg{
    transform: scale(0);
    font-size: 1.7em;
    transition-delay: 0.25s;
} 
.footer__contenedor li span{
    position: absolute;
}
.footer__contenedor li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}
.footer__contenedor li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
}




